body {
    display: flex;
}

body > canvas {
    margin-left: 30px;
    aspect-ratio: unset;
}

.track-editor {
    display: flex;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

.flex-column {
    display: flex;
    flex-flow: column;
}

.flex-column > * {
    display: flex;
}

.train-form, .train {
    border: 1px solid blue;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

.json-paths {
    width: 900px;
    height: 600px;
}

.junction-card {
    border: 1px solid gray;
    border-radius: 5px;
    display: flex;
    padding: 5px;
    margin: 3px;
}

.point-list {
    display: flex;
    flex-direction: column;
}
.point-list li div {
    display: flex;
}

.cursor-pointer {
    cursor: pointer;
}

.exported-json {
    word-break: break-all;
}

#app {
    width: 350px;
}