body {
    display: flex;
}

body > canvas {
    margin-left: 300px;
}

.path-editor {
    display: flex;
}

.flex-column {
    display: flex;
    flex-flow: column;
}

.flex-column > * {
    display: flex;
}
